.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.image {
    max-width: 500px;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.title {
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

.favoriteButton {
    width: 100%;
    align-items: center;
    text-align: center;
}
